<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<address>
  <strong>Mohit Deshpande</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">Ph:</abbr> +91-9673606106<br>
  <a href="mailto: mohitdeshpande@icloud.com">mohitdeshpande@icloud.com</a><br>
  <a href="https://twitter.com/mo4fun94" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large">Follow @mo4fun94</a>
</address>

